@import "fonts.css";

body {
  background: #fff;
  color: #000;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 20vmin/1 HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
}